.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.avatar {
  width: 25%;
  margin-right: 10px;
}

.avatar img {
  width: 40%;
  height: auto;
}

.stats {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 20px;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-container-buttons {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.flex-container>div {
  border-radius: 10%;
  background-color: #f1f1f1;
  width: 125px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 18px;
}

.flex-container>div:hover {
  transition: 0.3s;
  transform: translate(0, -10px);
  box-shadow: 6px 31px 34px 3px rgba(0, 0, 0, 0.66);
}

.flex-container-stack {
  display: flex;
}

.flex-container-stack>div {
  background-color: #f1f1f1;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 18px;
}